@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div class="container-fluid">
	<div class="d-flex justify-content-between align-items-center">
		<h4>FoodTruck.app</h4>

		<div class="d-flex align-items-center">
			<a href="#features">Features</a>
		</div>
	</div>

	<div id="features" class="text-center mt-4">
		<h2>Features</h2>
	</div>

	<div id="pricing" class="text-center mt-4">
		<h2>Pricing</h2>
	</div>

	<div id="signup" class="text-center mt-4">
		<EnterEmail 
			ApplicationId="nXOaPp9"
			HeadingText="Be notified when we go live" 
			ApiKey="juniper"
			ApiUrl="https://localhost:49153/" />
	</div>
</div>

@code {

}