@page "/foodtruck"
@model ProductIdeas.App.Pages.Products.FoodTruckModel
@{
}
<div class="d-flex justify-content-between">
	<h3>Foodtruck</h3>
	<div>
		<p>hello</p>
	</div>
</div>

<div>
	<partial name="Shared/EmailLeads" />
</div>