<form class="d-flex align-items-center justify-content-center col-md-6 offset-md-3" method="post" asp-page-handler="SubmitEmail">
	<input type="email" name="Email" placeholder="your email" required class="me-2 form-control" />
	<button class="btn btn-primary" type="submit">Submit</button>
</form>